@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "wingding";
  src: url("wingding.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/* GENERAL */

.gib,
.gib > * {
  font-family: "wingding";
}

.mainButton {
  @apply px-4 py-1.5 rounded border border-indigo-500 bg-indigo-600 text-white hover:bg-indigo-500 hover:border-indigo-400 text-left;
}

.transactionTableRow {
  @apply border border-gray-400 px-4 py-2 font-medium whitespace-nowrap text-ellipsis overflow-hidden;
}

/* NAVIGATION */

.lineAround {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;

  @apply font-bold text-gray-300 select-none;
}
.lineAround:before,
.lineAround:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: "\a0";

  @apply bg-gray-300;
}
.lineAround:before {
  margin-left: -55%;
  text-align: right;
}
.lineAround:after {
  margin-left: 5%;
  text-align: left;
}
.loginButtonPositioning {
  position: absolute;
  top: 0;
  right: -100%;
}

/* Toggle */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

/* Spinner */
.spinner-border {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: -0.125em;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: 0.75s linear infinite spinner-border;
  animation: 0.75s linear infinite spinner-border;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}
